@mixin flex($align-item, $justify_content) {
    display: flex;
    align-items: $align-item;
    justify-content: $justify_content;
}

@mixin overlay {
    border-color: rgba($color: #000000, $alpha: 0.6);
}
